:root {
  --primary-colour: #011638;
  --secondary-colour: #eef0f0;
  --accent-colour: #0d21a1;
  --container-border-radius: 20px;
  --primary-font-family: "Quicksand", sans-serif;
  --secondary-font-family: "Roboto", sans-serif;
  --heading-colour: var(--accent-colour);
  --subheading-colour: var(--accent-colour);
  --text-colour: #141414;
  --secondary-text-colour: var(--secondary-colour);
  --btn-colour: var(--accent-colour);
  --btn-hover-color: #009ddc;
  --correct-answer-colour: #37b800;
  --incorrect-answer-colour: #da2c38;
  --green-timer-colour: #43e000;
  --yellow-timer-colour: #fdd235;
  --red-timer-colour: #f50018;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font-family);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Global Styles */

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: var(--primary-colour);
}

.card {
  background-color: var(--secondary-colour);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3),
    0 6px 20px 0 rgba(156, 156, 156, 0.3);
  border-radius: var(--container-border-radius);
  -webkit-border-radius: var(--container-border-radius);
  -moz-border-radius: var(--container-border-radius);
  -ms-border-radius: var(--container-border-radius);
  -o-border-radius: var(--container-border-radius);
}

.title {
  align-self: center;
  color: var(--heading-colour);
  font-size: 2.5rem;
  margin: 0;
}

.sub-title {
  color: var(--heading-colour);
  font-size: 1.5rem;
  margin: 0;
}

th {
  color: var(--subheading-colour);
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 1.2em;
}

.text {
  color: var(--text-colour);
  font-family: var(--secondary-font-family);
}

.hidden {
  display: none;
}

.show {
  display: flex;
}

.btn {
  font-family: var(--primary-font-family);
  background-color: var(--btn-colour);
  color: white;
  border: none;
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -o-border-radius: 9999px;
}

/* Nav Bar */

.nav-bar {
  width: 100%;
}

.nav-bar > ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1.5rem;
}

.nav-link {
  color: var(--secondary-colour);
  font-weight: normal;
  font-size: 1rem;
  text-shadow: 1px 1px 3px rgba(66, 66, 66, 0.3);
  list-style: none;
  transition: transform 0.1s ease-in;
  -webkit-transition: transform 0.1s ease-in;
  -moz-transition: transform 0.1s ease-in;
  -ms-transition: transform 0.1s ease-in;
  -o-transition: transform 0.1s ease-in;
}

/* Modals */

.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
}

.modal-box {
  position: relative;
  margin: 5% 0;
  width: 80%;
  background-color: var(--secondary-colour);
  padding: 0 1rem 1rem 1rem;
  border-radius: var(--container-border-radius);
  -webkit-border-radius: var(--container-border-radius);
  -moz-border-radius: var(--container-border-radius);
  -ms-border-radius: var(--container-border-radius);
  -o-border-radius: var(--container-border-radius);
}

.modal-title {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0;
}

.modal-text {
  margin-bottom: 1.5rem;
  font-family: var(--secondary-font-family);
}

th,
td {
  text-align: left;
  height: 1rem;
  width: 15rem;
}

.close-icon {
  color: var(--heading-colour);
  opacity: 0.7;
  font-size: 2.5rem;
  position: absolute;
  right: 20px;
}

/* Quiz Input Form */

.quiz-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  margin: 10%;
  padding: 5%;
  height: 40vh;
}

.select-box {
  margin-left: 5px;
  font-size: 0.75em;
  font-family: var(--secondary-font-family);
}

.select-box-container label {
  color: var(--subheading-colour);
  font-weight: bold;
  font-size: 0.75em;
}

.start-btn {
  align-self: center;
  height: 40px;
  width: 150px;
  font-size: 16px;
  margin-bottom: 5px;
}

/* Error Page */
.error-message-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 40%;
  min-height: 15vh;
  padding: 10px;
  margin: 40px;
}

.error-heading {
  text-align: center;
}

.error-text {
  font-size: 1.25em;
}

.home-btn {
  height: 40px;
  width: 150px;
  font-size: 20px;
  text-decoration: none;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Quiz Question */
.quiz-question-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  min-height: 30%;
  padding: 5%;
  margin: 10%;
}

.quiz-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
  width: 100%;
}

.question-number {
  color: var(--subheading-colour);
  margin: 5px;
  font-size: 24px;
}

.question {
  color: var(--text-colour);
  font-weight: normal;
  margin: 10px 10px 15px 10px;
  text-align: center;
  font-size: 18px;
}

.answer-btn {
  margin: 2% 0;
  width: 100%;
  min-height: 40px;
  cursor: pointer;
  font-size: 18px;
  outline: none;
}

.answer-btn.correct {
  background-color: var(--correct-answer-colour);
  color: white;
}

.answer-btn.incorrect {
  background-color: var(--incorrect-answer-colour);
  color: white;
}

.answer-btn.show-correct {
  animation: blink 1s infinite;
  -webkit-animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    background-color: var(--correct-answer-colour);
  }
  50% {
    background-color: var(--correct-answer-colour);
  }
  60% {
    background-color: var(--btn-colour);
  }
  99% {
    background-color: var(--btn-colour);
  }
  100% {
    background-color: var(--correct-answer-colour);
  }
}

.answers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Info Bar */

.info-bar {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  color: white;
  padding: 0px 10px 0px 10px;
  grid-template-areas:
    "progress score"
    "timer timer";
}

.show.info-bar {
  display: grid;
}

.progress {
  grid-area: progress;
  text-align: right;
  font-size: 1.5em;
  align-self: end;
}

.score {
  grid-area: score;
  text-align: left;
  font-size: 1.5em;
  margin: 10px 0 0 0;
}

/*Timer */
.timer {
  grid-area: timer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100%;
  margin-top: 5px;
}

.timer-bar {
  height: 15px;
  width: 180px;
  border: 1px solid #ffffff;
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -o-border-radius: 9999px;
}

.timer-bar-full {
  height: 100%;
  width: 100%;
  background-color: var(--green-timer-colour);
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -ms-border-radius: 9999px;
  -o-border-radius: 9999px;
}

.seconds {
  margin: 10px 0 10px 0;
  text-align: center;
  font-size: 1.5em;
  padding-top: 0;
}

/* Loader */
.three-circles-loader {
  margin-top: 30vh;
  flex-direction: row;
  align-items: center;
}

.circle {
  height: 20px;
  width: 20px;
  margin: 0px 20px;
  background-color: white;
  animation: expand-contract-circle 1.5s infinite ease-in-out;
  -webkit-animation: expand-contract-circle 1.5s infinite ease-in-out;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.circle-2 {
  animation-delay: 0.25s;
}

.circle-3 {
  animation-delay: 0.5s;
}

@keyframes expand-contract-circle {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(0);
  }
}

/* Final Score */
.final-score-display {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 70%;
  min-height: 15vh;
  padding: 10px;
  margin: 40px;
}

.final-score {
  font-size: 3rem;
  margin: 0 0 20px 0;
  color: var(--subheading-colour);
}

.final-score-title {
  color: var(--heading-colour);
  font-size: 2rem;
  margin-top: 0;
}

.play-again-btn {
  height: 40px;
  width: 150px;
  font-size: 1.25em;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Prevent hover effects on touch-screen devices */
@media (hover: hover) {
  .nav-link:hover {
    cursor: pointer;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }

  .close-icon:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.1);
  }

  .btn:hover {
    cursor: pointer;
    background-color: var(--btn-hover-color);
  }
}

/* Wider screens */
@media (min-width: 500px) {
  .select-box {
    font-size: 1em;
  }

  .select-box-container label {
    font-size: 1em;
  }
  .answers {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
    align-content: start;
    min-height: 100px;
    grid-gap: 2%;
    width: 100%;
  }
}

/* Tablets in portrait */
@media (orientation: portrait) and (min-width: 650px) {
  .quiz-form {
    width: 60%;
    height: 35%;
  }

  .quiz-question-container {
    min-height: 20%;
  }

  .question {
    font-size: 24px;
  }

  .final-score-display {
    min-width: 50%;
  }
}

/* All landscape devices */
@media (orientation: landscape) {
  .info-bar {
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: "progress timer score";
    padding: 0px 30px 0px 30px;
    height: 50px;
    margin-bottom: 10px;
  }

  .progress {
    justify-self: start;
    align-self: center;
  }

  .score {
    justify-self: end;
    align-self: center;
  }

  .seconds {
    font-size: 1em;
  }

  .quiz-form {
    width: 70%;
    margin: 3%;
    padding: 1% 5%;
    height: 70vh;
  }

  .quiz-question-container {
    padding: 3%;
    min-height: 60%;
    margin: 3%;
  }

  .final-score-display {
    min-width: 40%;
  }

  .error-message-display {
    margin-top: 5%;
  }
}

/* Tablets in landscape and small to medium moniters */
@media (min-width: 800px) and (min-height: 600px) and (orientation: landscape) {
  .quiz-form {
    height: 50vh;
    width: 60%;
  }

  .select-box {
    font-size: 1.25em;
  }

  .select-box-container label {
    font-size: 1.25em;
  }

  .start-btn {
    height: 50px;
    width: 180px;
    font-size: 24px;
  }

  .seconds {
    font-size: 1.25em;
  }

  .quiz-question-container {
    width: 70%;
    min-height: 40%;
    padding: 3%;
    margin: 5%;
  }
}

/* Larger Tablets in landscape and larger moniters */
@media (orientation: landscape) and (min-width: 1000px) {
  .modal-box {
    width: 50%;
  }

  .nav-link {
    font-size: 1.25rem;
  }

  .quiz-form {
    height: 60vh;
    width: 50%;
  }

  .quiz-question-container {
    padding: 1% 3%;
  }

  .question-number {
    font-size: 28px;
  }

  .question {
    font-size: 24px;
  }

  .answers {
    margin-top: 3%;
  }

  .answer-btn {
    width: 100%;
    min-height: 60px;
    font-size: 24px;
  }

  .error-heading {
    font-size: 2em;
  }

  .error-text {
    font-size: 1.75em;
  }
}

/* Very large Tablets in landscape and large moniters */
@media (orientation: landscape) and (min-height: 850px) and (min-width: 1000px) {
  .quiz-form {
    height: 40vh;
  }

  .info-bar {
    grid-template-areas:
      "progress . score"
      ". timer .";
  }
}

/* Very large moniters */
@media (orientation: landscape) and (min-width: 1600px) and (min-height: 800px) {
  .quiz-question-container {
    width: 60%;
  }

  .question-number {
    font-size: 36px;
  }

  .question {
    font-size: 28px;
  }

  .quiz-form {
    width: 40%;
    height: 40%;
  }

  .answer-btn {
    font-size: 28px;
  }

  .progress {
    font-size: 2em;
  }

  .score {
    font-size: 2em;
  }

  .seconds {
    font-size: 2em;
  }
}
